.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-inline: auto;
    padding: 1em;
    max-width: 100%;
    display: flex;
    justify-content: center;  /* Center the content horizontally */
    align-items: center;  /* Center the content vertically */
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo {
  display: none; /* Hide the logo */
}

.site-title {
  font-weight: bold;
  text-align: center; /* Center the text */
  font-size: $type-size-6; /* Adjust the font size as needed */
  margin: 0 auto;  /* Ensure the title is centered */
}

/* Remove subtitle */
.site-subtitle {
  display: none; /* Hide the subtitle */
}

.masthead__menu {
  float: none; /* Reset float settings */
  margin-inline: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-inline-start: 0;

    @include breakpoint($small) {
      float: none; /* Ensure no float */
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-inline-end: 2em;
    font-weight: 700;
  }
}
